@media (min-width: 1300px){
    body{
        width: 1300px;
        margin: auto;
        }
}
/*@media (max-width: 1000px){
    #back{
        height: 200px;
        margin: auto;
        margin-top: 0px;
    }
} */

html{
    z-index: 0;
}
body{
    margin-top: 0px;
    z-index: 2;
}

#back{
    background: url(./img/robert-mitchum.jpg), linear-gradient(0.25turn, #37916e, black 50%);
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    color: white;
    z-index: 1;
    
}
    


html {
    background-color: #1D2126;
    height: 100%;
}

header{
    display: flex;
    background-color: #37916e ;
    color: white;
    height: 40px;
    align-items: center;
    width: 1300px;
    position: fixed;
    margin-top: 0px;
}

h1{
    margin-right: 25px;
}

nav{
    margin-top: 0px;
}

nav>ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

nav>ul>li{
    margin-left: 12px;
    margin-right: 12px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    
}


section{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
    border-style: solid;
}

h4{
    margin-bottom: 12px;

}

h3{
    margin-top: 3px;
}


section>div{
    margin-right: 12px;
}


#learn{
    display: flex;
    flex-direction: row;
}

#left{
    margin: 12px;
}

#right{
    display: flex;
    margin-left: 0px;
    flex-direction: column;
    justify-content: space-around;
}

#skills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#skills>div{
    display: block;
    margin-bottom: 12px;
}

.progressbar{
  width: 400px;
  padding:0px;
  border:1px solid black;
  border-radius: 12px;
  height:12px;
}

.progressbar::-webkit-progress-bar {
    border-radius: 12px;
    background: rgb(92, 47, 5);
}
progress::-webkit-progress-value {
	background:#37916e;
}

footer{
    color: white;
    background-color: #37916e;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    
}

#testimonials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow-x: visible;
    
}

.testi{
    display: flex;
    border: solid;
    width: 300px; height: 280px;
    position: relative;
    margin-bottom: 6px;
}
.testi_face{
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    z-index: 9;
}
.testi_face>img{
    width: 80px; height: 120px;
}

.testi_name{
    position: absolute;
    margin-top: 18px; margin-right: 2px;
    margin-left: 120px;
    font-weight: bold;
}
.testi_comment{
    position: absolute;
    margin-top: 110px;
    padding: 18px;
    background-color: grey;
    font-style: italic;
    
}
